.content-geral{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.all-content{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 5% !important;
    border: 1px solid #14626e;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.all-content h1{
    font-size: 2.1rem;
}

.contents {
    display: flex !important;
    flex-direction: row !important;
    width: 80% !important;
    margin-top: 2% !important;
}

.img-content img{
    width: 45rem !important;
}

.text-content{
    padding: 2% !important; 
}

.text-content p{
    font-size: 1.4rem ;
}