* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

.container{
    width: 80% !important;
}

.all-content-unitis{
    width: 100%!important;
    height: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-row{
    margin-top: 5% !important;
    margin-bottom: 3%!important;
    width: 75% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.right-side {
    display: flex;
    flex-direction: column;
    padding: 2% !important;
}

img{
    max-width: 45rem !important;
    max-height: 32rem !important;;
}

.right-side h1{
    margin-bottom: 5% !important;
}

.second-row{
    margin-bottom: 3%!important;
    width: 80% !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.third-row{
    margin-bottom: 3%!important;
    width: 80% !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.button-contact{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 13% !important;
    background-color: #14626e;
    border-radius: 20px;
    transition: .4s;
    padding: .3% !important;
}

.button-contact a{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    text-decoration: none !important;
    color: white;
}

.button-contact img{
    max-width: 3rem !important;
    margin-right: 3% !important;
}

.button-contact:hover{
    background-color: #0e464e;
}

.button-contact a:hover{
    letter-spacing: .4px;
    color: white !important;

}