* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

.container{
    width: 80% !important;
}

.carousel-img-big{
    margin-top: 10% !important;
    width: 80% !important;
}


.carousel-img-big img{
    max-height: 40rem !important;
    max-width: 80rem !important;
}