* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

.content-sobre{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 5% !important;
    margin-bottom: 10% !important;
    
}

.text-explicative{
    width: 80% !important;
    border: 2px solid #14626e;
    border-radius: 25px;
    padding: 2% !important;
}

.text-explicative p{
    margin-top: 2% !important;
    font-size: 1.4rem !important;
    text-align: justify;
}


@media (max-width: 2560px){
    .text-explicative h1{
        font-size: 2.5rem!important;
    }

    .text-explicative p{
        font-size: 1.5rem !important;
    }

}

@media (max-width: 1930px){
    .text-explicative h1{
        font-size: 2rem!important;
    }

    .text-explicative p{
        font-size: 1.2rem !important;
    }
}

@media (max-width: 1440px){
    .text-explicative h1{
        font-size: 1.7rem!important;
    }

    .text-explicative p{
        font-size: 1rem !important;
    }
}

@media (max-width: 1025px){
    .text-explicative h1{
        font-size: 1.4rem!important;
    }
}

@media (max-width: 769px){
    .text-explicative h1{
        font-size: 1.3rem!important;
    }

    .text-explicative p{
        font-size: .9rem !important;
    }
}

@media (max-width: 425px){
    .text-explicative{
        width: 90% !important;
    }
    .text-explicative h1{
        font-size: 1.05rem!important;
    }

    .text-explicative p{
        font-size: .8rem !important;
    }
}


@media (max-width: 320px){
    .text-explicative h1{
        font-size: 1rem!important;
    }

    .text-explicative p{
        font-size: .75rem !important;
    }
}