* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}




/* Header */

.header-top{
    display: flex;
    width: 100% !important;
    height: 70px !important;
    align-items: center !important;
    background-color: #197a89d4;
    position: fixed;
    z-index: 999;
    padding-left: 15% !important;
    font-size: 2rem;
}

.header-top ul{
    list-style-type: none !important;
    position: relative !important;

}

.header-top ul li{
    display: inline !important;
    color: white;
}

.header-top ul li a{
    width: 100% !important;
    height: 100% !important;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 2%;
    transition: background .3s !important;

}

.header-top ul li a:hover{
    background-color: #197a89d4;
    
}



.header-top ul ul{
    display: none;
    left: 0;
    position: absolute !important;
    background-color: #197a89d4;
    transition: background .3s;

}

.header-top ul li:hover ul{
    display: block;
}

.header-top ul ul{
    width: 100% !important;
}

.header-top ul ul li{
    display: block;
}




.dropdown{
    display: flex;
    align-items: center !important;
}

.unidades-header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 15%;
    margin-left: 30% !important;
}

.background-header-carousel {
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 1000px;
}


/* Header */


/* Content page */
/* Anunciment attention */

.text-attention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: #79baca;
    margin-bottom: 5rem !important;
    padding-left: 10% !important;

}

.title-attention {
    width: 100%;
    padding-left: 15% !important;
}

.title-attention h1 {
    font-size: 3rem;
}

.description-attention {
    width: 100%;
    padding-left: 30% !important;
}

.description-attention p {
    font-size: 1.5rem;
}

/* Anunciment attention */


.all-units {
    display: flex;
    width: 80% !important;
}

.all-units a {
    text-decoration: none !important;
    color: #212529;
}

.all-units a:hover {
    color: #252129;
}

.content-no-background {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 58rem !important;
}

.unitis-apresentation {
    display: flex;
    flex-direction: column;
    width: 80% !important;
    padding-bottom: 5% !important;
    margin: 3% !important;
    border: 1px solid #197a89;

}

.unitis-apresentation h1 {
    font-size: 3rem !important;
    margin-bottom: 1.5% !important;
}

.unitis-apresentation p {
    font-size: 1.7rem !important;
    color: #212529 !important;
}

.description-unitis {
    margin-left: 3% !important;
    margin-top: 3% !important;
}

.suite-img{
    height: 100% !important;
}

.suite-img img {
    max-height: 30rem;
    max-width: 50rem;
}

.cabana-img img {
    max-height: 30rem;
    max-width: 50rem;
}

/* Content page */

/* Icons */

.icons-geral {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons-geral img {
    margin-top: 3% !important;
    margin-right: 3% !important;
    width: 60px !important;
    height: 100% !important;
}

/* Icons */



/* Footer */

footer{
    width: 100% !important;
}

.footer-geral{
    margin-top: 3% !important;
    width: 100% !important;
    background-color: #14626e;
}

.footer-content{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    width: 100% !important;
    padding: 1.5% !important;
}

.footer-content h1{
    color: #ffff;
    margin-bottom: 4% !important;
}

.first-column-footer{
    display: flex;
    align-items: center;
}



.second-column-footer{
    display: flex;
    flex-direction: column !important;
    line-height: 2rem;
}


.second-column-footer a{
    padding-left: 6% !important;
    color: white !important;
    transition: .4s;
}

.second-column-footer a:hover{
    text-decoration: none;
    letter-spacing: 1px;
}




.thirty-column-footer iframe{
    max-width: 20rem;
    max-height: 20rem;
}



.fourty-column-footer{

}

.icons-contact{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    max-height: max-content;
}

.button-style-all{
    display: flex;
    max-width: 5rem !important;
    max-height: 5rem !important;

    background-color: white;
    border-radius: 50px;
    padding: 2% !important;
}

.button-style-all img{
    max-width: 4rem !important;
    max-height: 4rem !important;
    transition-duration: .4s !important;

}

.button-style-all img:hover{
    max-width: 4.1rem !important;
    max-height: 4.1rem !important;
}


.button-style-all:hover{
    background-color: rgb(179, 179, 179);
}

/* Footer */



/* Resposiviti */

@media (min-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100% !important;
    }
}

/* Resposiviti */
