* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}




/* Header */

.header-top {
    display: flex;
    width: 100% !important;
    height: 70px !important;
    background-color: #197a89d4;
    position: fixed;
    z-index: 999;
    padding-left: 10% !important;
}

.background-header-carousel {
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 1000px;
}

.unidades-header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 15%;
    margin-left: 25% !important;
    padding-top: 0.5% !important;
}

.dropdown {
    width: 30% !important;
    height: 100% !important;
}

.btn {
    height: 100%;
    font-size: 2rem !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 1.5% !important;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 0%) !important;
    height: 100%;
}

.dropdown-menu {
    background-color: #197a89d4 !important;
    width: 70% !important;
    font-size: 1.4rem !important;
    border: 1px solid #197a89 !important;
}

.dropdown-menu a {
    padding-left: 4% !important;
}

.dropdown-item {
    color: #ffff !important;
    transition: 1s;
}

.dropdown-item:hover {
    background-color: #14626e !important;
}

/* Header */


/* Content page */
/* Anunciment attention */

.text-attention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: #79baca;
    margin-bottom: 5rem !important;
    padding-left: 10% !important;

}

.title-attention {
    width: 100%;
    padding-left: 15% !important;
}

.title-attention h1 {
    font-size: 3rem;
}

.description-attention {
    width: 100%;
    padding-left: 30% !important;
}

.description-attention p {
    font-size: 1.5rem;
}

/* Anunciment attention */


.all-units {
    display: flex;
    width: 80% !important;
}

.all-units a {
    text-decoration: none !important;
    color: #212529;
}

.all-units a:hover {
    color: #252129;
}

.content-no-background {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 58rem !important;
}

.unitis-apresentation {
    display: flex;
    flex-direction: column;
    width: 80% !important;
    padding-bottom: 5% !important;
    margin: 3% !important;
    border: 1px solid #197a89;

}

.unitis-apresentation h1 {
    font-size: 3rem !important;
    margin-bottom: 1.5% !important;
}

.unitis-apresentation p {
    font-size: 1.7rem !important;
    color: #212529 !important;
}

.description-unitis {
    margin-left: 3% !important;
}

.suite-img img {
    max-height: 30rem;
    max-width: 50rem;
}

.cabana-img img {
    max-height: 30rem;
    max-width: 50rem;
}

/* Content page */




/* Icons */

.icons-geral {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons-geral img {
    margin-top: 3% !important;
    margin-right: 3% !important;
    width: 60px !important;
    height: 100% !important;
}

/* Icons */




/* Resposiviti */

@media (min-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100% !important;
    }
}

/* Resposiviti */